@use "../abstracts/" as *;

.card {
  display: grid;
  gap: var(--flow-spacing, $card-flow-spacing);
  padding: $card-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }

  &__icon-header {
    display: flex;
    gap: $size-4;
    align-items: center;
  }
}
