@use "../abstracts" as *;

.form-group {
  display: grid;
  row-gap: $size-8;
  column-gap: $size-4;
  grid-template-columns: 1fr 1fr;

  .radio-group {
    grid-column: auto;

    display: flex;
    align-items: center;
  }

  .input-group {
    grid-column: span 2;
    grid-row: auto;

    min-width: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    gap: $size-2;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: $size-6;
      bottom: $size-4;

      @include heading(
        $heading-3-font-size,
        $color-primary-400,
        $heading-3-line-height
      );
    }

    &[data-unit="cm"]::after {
      content: "cm";
    }
    &[data-unit="kg"]::after {
      content: "kg";
    }
    &[data-unit="ft"]::after {
      content: "ft";
    }
    &[data-unit="in"]::after {
      content: "in";
    }
    &[data-unit="st"]::after {
      content: "st";
    }
    &[data-unit="lbs"]::after {
      content: "lbs";
    }
  }

  &[data-type="imperial"] .input-group {
    grid-column: auto;
  }

  .result {
    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    flex-direction: column;
    row-gap: $size-6;
    padding: $size-8;
    border-radius: $border-radius-2;

    @include mq("small") {
      flex-direction: row;
      border-top-left-radius: $border-radius-2;
      border-bottom-left-radius: $border-radius-2;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;
      
      &[data-type="even-column"] {
        > * {
          width: 50%;
        }
      }
    }

    font-size: $font-size-200;
    background: linear-gradient(90deg, hsl(227, 92%, 58%), hsl(227, 100%, 67%));
    color: $color-neutral-000;
  }

  @include mq("small") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $size-6;

    .radio-group {
      grid-column: span 2;
    }

    &[data-type="imperial"] .input-group {
      grid-column: span 2;
    }
  }
}

label {
  color: $form-label-color;
  font-family: $form-label-font-family;
  font-weight: $form-label-font-weight;
  font-size: $form-label-font-size;
}

input:not(.button) {
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  color: $form-input-color;
  background-color: $form-input-background-color;
  padding: $form-input-padding;
  border: $form-input-border-default;
  border-radius: $form-input-border-radius;

  &:is(:hover, :focus, :focus-visible) {
    border: $form-input-border-focus;
    outline: 0;
  }
}

input[name="radio"] {
  // Reset
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  display: grid;
  place-content: center;
  background-color: $form-input-background-color;
  width: $size-8;
  aspect-ratio: 1/1;
  border: $form-input-border-default;
  border-radius: 50%;
  margin-inline-end: $size-5;
  padding: 0;

  &:is(:hover, :focus, :focus-visible) {
    cursor: pointer;
    border: $form-input-border-focus;
    outline: 0;
  }

  &::before {
    content: "";
    display: block;
    background-color: $color-primary-400;
    width: $size-4;
    height: $size-4;
    border-radius: 50%;
    box-shadow: 0 0 0px 8px $color-primary-100;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    // box-shadow: inset 1em 1em var(--form-control-color);
  }

  &:checked {
    border: 0;
    &::before {
      transform: scale(1);
    }
  }
}

::placeholder {
  color: $form-placeholder-color;
  font-weight: $form-placeholder-font-weight;
  font-family: $form-placeholder-font-family;
}
